<h2>Forgot Password</h2>

<%= form_tag send_reset_password_instructions_users_path, method: :post do %>
  <%= label_tag :email, "Email:" %>
  <%= email_field_tag :email, nil, required: true %>

  <%= submit_tag "Send Reset Instructions" %>
<% end %>
